﻿@model Assignment1_MikeBanks.Models.TeamInformation

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet"/>
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/styles.css"/>
    <title>FavoriteTeamForm</title>
</head>
<body>
    <div class="panel panel-success">
        <div class="panel-heading text-center"><h4>Team Information</h4></div>
        <div class="panel-body">
            <!-- Start of the HTML Form-->
            @using (Html.BeginForm())
            {
                <!-- Validates the Form-->
                @Html.ValidationSummary()


            <div class="form-group">
                <label>Enter the sport played by your favorite team:</label>
                <!-- Makes a text box for the field, stores the input into the appropriate property of TeamInformation-->
                @Html.TextBoxFor(x => x.TeamSport, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Enter the league that your favorite team plays in:</label>
                <!-- Makes a text box for the field, stores the input into the appropriate property of TeamInformation-->
                @Html.TextBoxFor(x => x.TeamLeague, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Enter the city for which your favorite team plays:</label>
                <!-- Makes a text box for the field, stores the input into the appropriate property of TeamInformation-->
                @Html.TextBoxFor(x => x.TeamCity, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Enter the name of your favorite team:</label>
                <!-- Makes a text box for the field, stores the input into the appropriate property of TeamInformation-->
                @Html.TextBoxFor(x => x.TeamName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Enter your name:</label>
                <!-- Makes a text box for the field, stores the input into the appropriate property of TeamInformation-->
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
            </div>
                <div class="text-center">
                    <input class="btn btn-success" type="submit" value="Confirm Favorite Team" />
                </div>
            }
        </div>
    </div>
</body>
</html>
