﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet"/>
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet"/>
    <title>Index</title>
    <style>
        .btn a { 
            color: white;
            text-decoration: wavy;
        }
        body {
            text-decoration: solid; 
            background-color: aqua;
        }
    </style>
</head>
<body>
    <div class="text-center"> 
        <h1>@ViewBag.Welcome</h1>
        <h1>Favorite Sports Team Application! Tell us your team!</h1>
        <h3>This ASP.NET MVC Application will be very exciting to use</h3>
        <div class="btn btn-success">
            @Html.ActionLink("Enter favorite team information now!", "FavoriteTeamForm")
        </div>
    </div>
</body>
</html>
