﻿@model Assignment1_MikeBanks.Models.TeamInformation

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet"/>
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width" />
    <title>ThanksForTeamInfo</title>
    <style>
        body { background-color: aqua; }
    </style>
</head>
<body>
    <div class="text-center"> 
        <h1>Thank you for the team information @Model.Name!</h1>
        <div class="lead">
            <p> It is great that you cheer for the @Model.TeamLeague team: @Model.TeamCity @Model.TeamName . @Model.TeamSport is a fun sport to watch!</p>
        </div>
    </div>
</body>
</html>
